target
**/*.rs.bk*
**/*.rs.bak*
**/*.rs.old*
**/*.rs.orig*
**/*.rs.s[a-z]*
**/*.rs.save*
**/*.rs.tmp*

*.swp
*.swo
*.tmp
*.bak
*.old
*.orig
/Cargo.lock

.idea/
.vscode/
*.code-workspace

.DS_Store
Thumbs.db
